Django>=2.2,<2.3
gunicorn
whitenoise
Werkzeug
django-environ
python-decouple
jsonfield
django-extensions
django-import-export
django-admin-sortable2
django-inline-actions
django-user-agents
pyOpenSSL
# sudo apt-get install libmariadbclient-dev
mysqlclient