Django
gunicorn
whitenoise
Werkzeug
django-environ
django-jazzmin
python-decouple
jsonfield
django-extensions
django-import-export
django-admin-sortable2
django-inline-actions
django-user-agents
djangorestframework
pyOpenSSL
# sudo apt-get install libmariadbclient-dev
mysqlclient
# sudo apt-get install wkhtmltopdf
django-wkhtmltopdf
pdfkit
django-cors-headers