.table td {
	vertical-align: middle;
}

a.inline-deletelink {
	float: left;
    margin: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
	min-height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	min-height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	margin-top: unset;
}