{% extends "layouts/base-fullscreen.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col col-login mx-auto">
    <div class="text-center mb-6">
      <img src="/static/assets/demo/brand/tabler.svg" class="h-6" alt="">
    </div>
    <div class="card-body p-6">
      <div class="card-title text-center">
        <p class="text-center">
          Password change.
          <br />
          Redirect to <strong><a href={% url 'login' %}>login</a></strong> in <span id="count_down" style="clear:both">null seconds</span>.
        </p>
      </div>
    </div>
    <div class="text-center text-muted">
      &copy; Codecalm -
      <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-tabler">Django Dashboard Table
      </a>
      <br />
    </div>
  </div>
</div>
{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
var TIMER = 3;
var count = 0;
var counter = setInterval(function() {
  let diff = TIMER - count;
  document.getElementById("count_down").innerHTML = diff + " second";
  if (diff > 1)
    document.getElementById("count_down").innerHTML += "s";
  // If the count down is finished, redirect
  count += 1;
  if (diff <= 0) {
    clearInterval(counter);
    document.getElementById("count_down").innerHTML = "";
    window.location.href = '/login/';
  }
}, 1000);
</script>
{% endblock javascripts %}