{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Voting {% endblock %}
{% block styles %}
<style>
  .dropdown-icon {
  margin-left: 0rem;
  margin-right: 0rem;
  font-size: 44px;
}

#live_poll_options {
  margin-right: 2rem;
  text-align: center;
  font-size: 26px;
}

.time_label {
  margin-left: 2rem;
  margin-bottom: 0rem;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}
</style>
{% endblock %}
{% block content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="{% if poll_item %}{% url 'live_poll:live_poll_vote' poll_item.id %}{% endif %}" method="post" class="card">
          {% csrf_token %}
          <div class="card-header">
            <h3 class="card-title">{% if poll_item %}{{ poll_item.text }}{% else %}No poll is opened for voting now.{% endif %}</h3>
          </div>
          {% if poll_item %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <div id="live_poll_options" class="row gutters-sm">
                    <div class="col-6 col-sm-4">
                      <label class="imagecheck">
                        <input name="live_poll_option" type="radio" value="1" class="imagecheck-input">
                        <figure class="imagecheck-figure">
                          <img src="{% static 'for.jpeg' %}" alt="}" class="imagecheck-image">
                        </figure>
                      </label>
                      For
                    </div>
                    <div class="col-6 col-sm-4">
                      <label class="imagecheck mb-4">
                        <input name="live_poll_option" type="radio" value="3" class="imagecheck-input">
                        <figure class="imagecheck-figure">
                          <img src="{% static 'against.jpeg' %}" alt="}" class="imagecheck-image">
                        </figure>
                        Against
                      </label>
                    </div>
                    <div class="col-6 col-sm-4">
                      <label class="imagecheck mb-4">
                        <input name="live_poll_option" type="radio" value="2" class="imagecheck-input">
                        <figure class="imagecheck-figure">
                          <img src="{% static 'abstain.jpeg' %}" alt="}" class="imagecheck-image">
                        </figure>
                        Abstain
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <button id="btnSubmit" type="submit" class="btn btn-primary" disabled="disabled">Submit Vote</button>
              <label id="time_label" class="time_label" for="btnSubmit"></label>
            </div>
          </div>
          {% endif %}
      </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
require(['jquery'], function() {
  $(".nav-link").removeClass("active");
  $(".nav-link.cur_live_voting").addClass("active");

  $("#live_poll_options").change(function() {
    if ($("#live_poll_options input[name='live_poll_option']:checked").val() !== null)
      $("#btnSubmit").removeAttr("disabled");
  });

  var poll_status = {% if poll_item %}"open"{% else %}"close"{% endif %};
  var need_to_reload = false;
  var check_seconds_left = setInterval(function() {
    $.get("{% url 'live_poll:live_voting_openning_json' %}",
      function(ret) {
        console.log("cur_live_voting", ret);
        var opening_seconds_left = parseInt(ret["opening_seconds_left"], 10);
        $("#time_label").text("Time Left: " + opening_seconds_left + " seconds");
        if (poll_status == "open" & opening_seconds_left == 0) {
          window.location.reload(true);
        }
        if (poll_status == "close" & opening_seconds_left > 0) {
          window.location.reload(true);
        }
        if (opening_seconds_left > 0) {
          need_to_reload = true;
        } else if (opening_seconds_left == -1) {
          if (need_to_reload) {
            window.location.reload(true);
          }
        }
      }
    );
  }, 1000);
});
</script>
{% endblock javascripts %}