{% extends "layouts/base.html" %}
{% block title %} Vote Done {% endblock %}
{% block content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Thank you for your vote.</h3>
      </div>
      <div class="card-body">
        <div>You have vote <b>{{ Option }}</b> for <b>{{ Title }}</b>. You may now close or go back to <a href="{% url 'survey:surveys' %}">home</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
require(['jquery'], function() {
  $(".nav-link").removeClass("active");
  $(".nav-link.surveys").addClass("active");
});
</script>
{% endblock javascripts %}