{% extends "layouts/base.html" %}
{% block title %} Ballot System {% endblock %}
{% block content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="{% url 'ballot:vote' poll.id %}" method="post" class="card">
          {% csrf_token %}
          <div class="card-header">
            <h3 class="card-title">Voting</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label class="form-label">Size</label>
                  <div class="selectgroup w-100">
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="50" class="selectgroup-input" checked="">
                      <span class="selectgroup-button">S</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="100" class="selectgroup-input">
                      <span class="selectgroup-button">M</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="150" class="selectgroup-input">
                      <span class="selectgroup-button">L</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="200" class="selectgroup-input">
                      <span class="selectgroup-button">XL</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Shipping methods</label>
                  <div class="selectgroup selectgroup-vertical w-100">
                    <label class="selectgroup-item">
                      <input type="radio" name="shipping" value="unregistered" class="selectgroup-input" checked>
                      <span class="selectgroup-button">Unregistered</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="shipping" value="priority" class="selectgroup-input">
                      <span class="selectgroup-button">Priority Mail</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="shipping" value="express" class="selectgroup-input">
                      <span class="selectgroup-button">Express Mail</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label class="form-label">Your skills</label>
                  <div class="selectgroup selectgroup-pills">
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="HTML" class="selectgroup-input" checked="">
                      <span class="selectgroup-button">HTML</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="CSS" class="selectgroup-input">
                      <span class="selectgroup-button">CSS</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="PHP" class="selectgroup-input">
                      <span class="selectgroup-button">PHP</span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" name="value" value="JavaScript" class="selectgroup-input">
                      <span class="selectgroup-button">JavaScript</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Beast</label>
                  <select name="beast" id="select-beast" class="form-control custom-select">
                    <option value="1">Chuck Testa</option>
                    <option value="4">Sage Cattabriga-Alosa</option>
                    <option value="3">Nikola Tesla</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Countries</label>
                  <select name="country" id="select-countries" class="form-control custom-select">
                    <option value="br" data-data='{"image": "/static/assets/images/flags/br.svg"}'>Brazil</option>
                    <option value="cz" data-data='{"image": "/static/assets/images/flags/cz.svg"}'>Czech Republic</option>
                    <option value="de" data-data='{"image": "/static/assets/images/flags/de.svg"}'>Germany</option>
                    <option value="pl" data-data='{"image": "/static/assets/images/flags/pl.svg"}' selected>Poland</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="form-group">
                  <label class="form-label">Poll Options</label>
                  <div id="poll_options" class="selectgroup selectgroup-pills">
                    {% for option in poll.options.all %}
                    <label class="selectgroup-item">
                      <input type="radio" id="option{{ forloop.counter }}" name="poll_option" value="{{ option.id }}" class="selectgroup-input">
                      <span class="selectgroup-button">{{ option.text }}</span>
                    </label>
                    {% endfor %}
                  </div>
                </div>
                <div class="input-group">
                  <button id="btnSubmit" type="submit" class="btn btn-primary" disabled="disabled">Submit Vote</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  require(['jquery'], function () {
    $(".nav-link").removeClass("active");
    $(".nav-link.polls").addClass("active");

    $('#poll_options').change(function() {
      if ($("#poll_options input[name='poll_option']:checked").val() !== null)
        $("#btnSubmit").removeAttr("disabled");
    });
  });
</script>
{% endblock javascripts %}