{% extends "layouts/base.html" %}
{% block title %} Voting {% endblock %}
{% block styles %}
<style>
.dropdown-icon {
  margin-left: 0rem;
  margin-right: 0rem;
  font-size: 44px;
}
.selectgroup-pills .selectgroup-item {
  margin-right: 2rem;
}

.time_label {
  margin-left: 2rem;
  margin-bottom: 0rem;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}
</style>
{% endblock %}
{% block content %}
<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="{% if poll_item %}{% url 'ballot:live_poll_vote' poll_item.id %}{% endif %}" method="post" class="card">
          {% csrf_token %}
          <div class="card-header">
            <h3 class="card-title">{% if poll_item %}{{ poll_item.text }}{% else %}No poll is opened for voting now.{% endif %}</h3>
          </div>
          {% if poll_item %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="form-group">
                  <div id="live_poll_options" class="selectgroup selectgroup-pills">
                    <label class="selectgroup-item">
                      <input type="radio" id="option0" name="live_poll_option" value="1" class="selectgroup-input">
                      <span class="selectgroup-button"><i class="dropdown-icon fa fa-smile-o"></i></span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" id="option1" name="live_poll_option" value="2" class="selectgroup-input">
                      <span class="selectgroup-button"><i class="dropdown-icon fa fa-meh-o"></i></span>
                    </label>
                    <label class="selectgroup-item">
                      <input type="radio" id="option2" name="live_poll_option" value="3" class="selectgroup-input">
                      <span class="selectgroup-button"><i class="dropdown-icon fa fa-frown-o"></i></span>
                    </label>
                  </div>
                </div>
                <div class="input-group">
                  <button id="btnSubmit" type="submit" class="btn btn-primary" disabled="disabled">Submit Vote</button>
                  <label id="time_label" class="time_label" for="btnSubmit"></label>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
  require(['jquery'], function () {
    $(".nav-link").removeClass("active");
    $(".nav-link.cur_live_voting").addClass("active");

    $("#live_poll_options").change(function() {
      if ($("#live_poll_options input[name='live_poll_option']:checked").val() !== null)
        $("#btnSubmit").removeAttr("disabled");
    });

    var check_seconds_left = setInterval(function() {
      $.get("{% url 'ballot:live_voting_openning_json' %}",
        function(ret) {
          console.log("cur_live_voting", ret);
          $("#time_label").text("Time Left: " + ret["opening_seconds_left"] + " seconds");
          if (parseInt(ret["opening_seconds_left"], 10) == 0)
          {
            window.location.reload(true);
          }
          else if (parseInt(ret["opening_seconds_left"], 10) == -1) {
            window.location.reload(true);
            clearInterval(check_seconds_left);
          }
        }
      );
    }, 1000);
  });
</script>
{% endblock javascripts %}