{% load static %}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'report_template.css' %}">
  <title>AGM Report</title>
  <meta name="description" content="Report Template">
  <style type="text/css">
    @page {
      size: A4 landscape;
      margin: 0;
    }
 </style>
</head>

<body>
  <article id="agm_details">
    {% include 'report_template_header.html' %}
    <sub_heading>
      AGM Overview
    </sub_heading>
    <table>
      <tr>
        <td>Title</td>
        <td>Annual General Meeting of the Management Corportation Strata Title Plan No. {{ agm_details.batch_no }}</td>
      </tr>
      <tr>
        <td>Venue</td>
        <td>Online Conference Call</td>
      </tr>
      <tr>
        <td>Total Lots:</td>
        <td>{{ agm_details.total_lots }}</td>
      </tr>
      <tr>
        <td>Total Shares:</td>
        <td>{{ agm_details.total_shares }}</td>
      </tr>
      <tr>
        <td>Meeting Started:</td>
        <td>{{ agm_details.meeting_started }}</td>
      </tr>
      <tr>
        <td>Meeting Closed:</td>
        <td>{{ agm_details.meeting_closed }}</td>
      </tr>
    </table>
    {% include 'report_template_footer.html' %}
  </article>

  {% for page_no, lpm_attendees in lpm_attendee_pages.items %}
  <article id="attendees">
    {% include 'report_template_header.html' %}
    {% if forloop.counter0 == 0 %}
    <sub_heading>
      AGM Attendees
    </sub_heading>
    {% endif %}
    <table>
      {% for lpm_attendee in lpm_attendees.lpm_attendees %}
      <tr>
        <td nowrap>{{ lpm_attendee.unit_no }}</td>
        <td>{{ lpm_attendee.name }}</td>
        <td nowrap>{{ lpm_attendee.phone_no }}</td>
        <td nowrap>{{ lpm_attendee.voted_at|time:"H:i:s" }}</td>
        <td nowrap>{{ lpm_attendee.ip_address }}</td>
        <td>{{ lpm_attendee.user_agent }}</td>
      </tr>
      {% endfor %}
    </table>
    {% include 'report_template_footer.html' %}
  </article>
  {% endfor %}

  {% for page_no, lpm_records in lpm_record_pages.items %}
  <article id="records">
    {% include 'report_template_header.html' %}
    {% ifchanged lpm_records.text %}
    <sub_heading>
      {{ lpm_records.text }}
    </sub_heading>
    {% endifchanged %}
    <table>
      {% for lpm_record in lpm_records.lpm_records %}
      <tr>
        <td nowrap>{{ lpm_record.voter }}</td>
        <td nowrap>{% if lpm_record.voted_at %}{{ lpm_record.voted_at|time:"H:i:s" }}{% else %}Did not vote{% endif %}</td>
        <td nowrap>{% if lpm_record.voted_at %}{{ lpm_record.ip_address }}{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
    {% include 'report_template_footer.html' %}
  </article>
  {% endfor %}
</body>

</html>